<div class="container">
  <mat-card>
    <form [formGroup]="orderIntegrationConfigurationForm" (ngSubmit)="submit()">
      <mat-card-content>
        <div fxLayout="column">
          <mat-form-field>
            <mat-label>{{ 'labels.commons.Base URL' | translate }}</mat-label>
            <input matInput required formControlName="base_url" pattern="https?://.+"/>
            <mat-error *ngIf="orderIntegrationConfigurationForm.controls.base_url.hasError('required')">{{ 'labels.commons.Base URL is' | translate }}<strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="orderIntegrationConfigurationForm.controls.base_url.hasError('pattern')">
             {{ 'labels.errors.Invalid URL' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'labels.commons.Get Order Endpoint' | translate }}</mat-label>
            <input matInput required formControlName="get_order_endpoint" />
            <mat-error *ngIf="orderIntegrationConfigurationForm.controls.get_order_endpoint.hasError('required')">{{ 'labels.commons.Get Order Endpoint is' | translate }}<strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'labels.commons.Authentication Type' | translate }}</mat-label>
            <mat-select required formControlName="authentication_type">
              <mat-option
                *ngFor="let authenticationType of authenticationTypeOptions"
                [value]="authenticationType.id"
              >
                {{ authenticationType.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="orderIntegrationConfigurationForm.controls.authentication_type.hasError('required')">{{ 'labels.commons.Authentication Type is' | translate }}<strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'labels.commons.Authentication Endpoint' | translate }}</mat-label>
            <input matInput required formControlName="authentication_endpoint" />
            <mat-error *ngIf="orderIntegrationConfigurationForm.controls.authentication_endpoint.hasError('required')">{{ 'labels.commons.Authentication Endpoint is' | translate }}<strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'labels.inputs.Username' | translate }}</mat-label>
            <input matInput required formControlName="username" />
            <mat-error *ngIf="orderIntegrationConfigurationForm.controls.username.hasError('required')">{{ 'labels.commons.Username is' | translate }}<strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'labels.inputs.Password' | translate }}</mat-label>
            <input matInput required formControlName="password" type="password" />
            <mat-error *ngIf="orderIntegrationConfigurationForm.controls.password.hasError('required')">{{ 'labels.commons.Password is' | translate }}<strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ 'labels.buttons.Cancel' | translate }}</button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!orderIntegrationConfigurationForm.valid || orderIntegrationConfigurationForm.pristine"
        >{{ 'labels.buttons.Submit' | translate }}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
