{
  "ignorePatterns": [
    "node_modules/",
    "dist/",
    "build/",
    "**/*.spec.ts",
    "**/*.d.ts",
    "**/*.conf.ts",
    "**/test.ts",
    "**/polyfills.ts",
    "**/version.js"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "no-case-declarations": "off",
    "@typescript-eslint/ban-types": "off",
    "no-prototype-builtins": "off",
    "no-async-promise-executor": "off"
  }
}
