<div class="container">

  <mat-card>
    <form [formGroup]="notificationConfigurationForm" (ngSubmit)="submit()">
      <mat-card-content>

        <div fxLayout="column" fxLayoutGap="12px">

          <ng-container *ngFor="let field of notificationConfigurationForm?.controls | keyvalue">

            <ng-container *ngIf="field.key !== 'countryExternalServiceId'">
              <mat-form-field>
                <mat-label>{{ field.key }}</mat-label>
                <input matInput [formControlName]="field.key">
              </mat-form-field>
            </ng-container>

          </ng-container>

          <mat-form-field>
            <mat-label>{{ 'labels.inputs.ID' | translate }}</mat-label>
            <input matInput formControlName="countryExternalServiceId" readonly>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">

        <button type="button" mat-raised-button [routerLink]="['../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>

        <button mat-raised-button color="primary"
          [disabled]="!notificationConfigurationForm.valid || notificationConfigurationForm.pristine">
          {{ 'labels.buttons.Submit' | translate }}
        </button>

      </mat-card-actions>

    </form>
  </mat-card>

</div>
