<div class="container">
  <mat-card>
    <form [formGroup]="chargeForm" (ngSubmit)="submit()">
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
          <!--  <mat-form-field fxFlex="48%">
            <mat-label>Country</mat-label>
            <mat-select placeholder="Search" #country required formControlName="country">
              <mat-select-filter
                *ngIf="country.focused"
                [array]="countries"
                (filteredReturn)="countriesDataSliced = $event"
                [displayMember]="'name'"
              >
              </mat-select-filter>
              <mat-option *ngFor="let country of countries" [value]="country.id" [class.hide]="!isFiltered(country)">
                {{ country.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chargeForm.controls.country.hasError('required')">
              Country is <strong>required</strong>
            </mat-error>
          </mat-form-field> -->

          <div fxFlex="48%">
            <label for="country">{{ 'labels.inputs.Country' | translate }}</label>
            <ng-select
              #country
              [items]="countries"
              bindLabel="name"
              bindValue="id"
              placeholder="{{ 'labels.commons.Select Country' | translate }}"
              formControlName="country"
              aria-labelledby="country"
              [virtualScroll]="true"
            >
            </ng-select>
          </div>

          <mat-divider [inset]="true"></mat-divider>

          <div
            *ngIf="chargeForm.controls.country.value"
            fxFlexFill
            fxLayout="row wrap"
            fxLayoutGap="2%"
            fxLayout.lt-md="column"
          >
            <mat-form-field fxFlex="48%">
              <mat-label>{{ 'labels.inputs.Charge Name' | translate }}</mat-label>
              <input matInput required formControlName="name" />
              <mat-error *ngIf="chargeForm.controls.name.hasError('required')">
                {{ 'validation.msg.charge.name.cannot.be.blank' | translate }}
              </mat-error>
            </mat-form-field>

            <!--  <mat-form-field fxFlex="48%">
              <mat-label>Currency</mat-label>
              <mat-select required formControlName="currencyCode">
                <mat-option *ngFor="let currency of chargesTemplateData.currencyOptions" [value]="currency.code">
                  {{ currency.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="chargeForm.controls.currencyCode.hasError('required')">
                Currency is <strong>required</strong>
              </mat-error>
            </mat-form-field> -->

            <div fxFlex="48%">
              <label for="currencyCode">{{ 'labels.inputs.Currency' | translate }}</label>
              <ng-select
                #country
                [items]="chargesTemplateData.currencyOptions"
                bindLabel="name"
                bindValue="code"
                placeholder="{{ 'labels.inputs.Select Currency' | translate }}"
                formControlName="currencyCode"
                aria-labelledby="currencyCode"
                [virtualScroll]="true"
              >
              </ng-select>
            </div>

            <mat-form-field fxFlex="48%">
              <mat-label>{{ 'labels.inputs.Charge Time Type' | translate }}</mat-label>
              <mat-select required formControlName="chargeTimeType" (selectionChange)="showHidepenalty($event)">
                <mat-option
                  *ngFor="let chargeTimeType of chargesTemplateData.loanChargeTimeTypeOptions"
                  [value]="chargeTimeType.id"
                >
                  {{ chargeTimeType.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="chargeForm.controls.chargeTimeType.hasError('required')">
                {{ 'validation.msg.charge.chargeTimeType.cannot.be.blank' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="48%">
              <mat-label>{{ 'labels.inputs.Charge Calculation Type' | translate }}</mat-label>
              <mat-select required formControlName="chargeCalculationType">
                <mat-option
                  *ngFor="let chargeCalculationType of chargesTemplateData.loanChargeCalculationTypeOptions"
                  [value]="chargeCalculationType.id"
                >
                  {{ chargeCalculationType.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="chargeForm.controls.chargeCalculationType.hasError('required')">
                {{ 'validation.msg.charge.chargeCalculationType.cannot.be.blank' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="48%">
              <mat-label>{{ 'labels.inputs.Amount' | translate }}</mat-label>
              <input matInput required formControlName="amount" />
              <mat-error *ngIf="chargeForm.controls.amount.hasError('required')">
                {{ 'validation.msg.charge.amount.cannot.be.blank' | translate }}
              </mat-error>
            </mat-form-field>

            <div fxFlex="30%" fxLayout="row" fxLayoutGap="2%" fxLayout.lt-md="column">
              <div fxFlex="50%" class="active-wrapper">
                <mat-checkbox labelPosition="before" formControlName="active">
                  {{ 'labels.inputs.Active' | translate }}
                </mat-checkbox>
              </div>

              <div fxFlex="30%" class="penalty-wrapper" *ngIf="showPenalty">
                <mat-checkbox required labelPosition="before" formControlName="penalty">
                  {{ 'labels.inputs.Is Penalty' | translate }}
                </mat-checkbox>
                <mat-error *ngIf="chargeForm.controls.penalty.hasError('required')">
                  {{ 'validation.msg.charge.penalty.cannot.be.blank' | translate }}
                </mat-error>
              </div>
              <div fxFlex="30%" class="penalty-wrapper" *ngIf="showPenalty && isPenaltyChecked">
                <mat-checkbox labelPosition="before" formControlName="isExtensible">
                  {{ 'labels.inputs.Is Extensible' | translate }}
                </mat-checkbox>
              </div>
            </div>
            <mat-form-field fxFlex="48%" *ngIf="isPenaltyChecked && isExtensibleChecked">
              <mat-label>{{ 'labels.inputs.Extension Frequency' | translate }}</mat-label>
              <input matInput formControlName="extensionFrequency" />
            </mat-form-field>
            <mat-form-field fxFlex="48%" *ngIf="isPenaltyChecked && isExtensibleChecked">
              <mat-label>{{ 'labels.inputs.Fee Interval' | translate }}</mat-label>
              <input matInput formControlName="feeInterval" />
            </mat-form-field>
            <mat-form-field fxFlex="48%" *ngIf="isPenaltyChecked && isExtensibleChecked">
              <mat-label>{{ 'labels.inputs.Fee Frequency' | translate }}</mat-label>
              <mat-select formControlName="feeFrequency">
                <mat-option
                  *ngFor="let selectedFeeFrequency of chargesTemplateData.feeFrequencyOptions"
                  [value]="selectedFeeFrequency.id"
                >
                  {{ selectedFeeFrequency.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ 'labels.inputs.Cancel' | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!chargeForm.valid" *mifosxHasPermission="'CREATE_CHARGE'">
          {{ 'labels.inputs.Submit' | translate }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
