<form [formGroup]="loanProductClientEligibilityForm">
  <div fxLayout="row wrap" fxFlexFill fxLayoutGap="2%" fxLayout.lt-md="column">
    <mat-label fxFlex="98%">{{ 'labels.oaf.Previously taken input' | translate }}</mat-label>
    <mat-checkbox fxFlex="32%" formControlName="previouslyTakenInput">{{
      'labels.oaf.Taken' | translate
    }}</mat-checkbox>
    <mat-checkbox fxFlex="32%" formControlName="previouslyNotTakenInput">{{
      'labels.oaf.Not Taken' | translate
    }}</mat-checkbox>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
    <mat-label fxFlex="98%">{{ 'labels.oaf.Previously taken credit' | translate }}</mat-label>
    <mat-checkbox fxFlex="32%" formControlName="previouslyTakenCredit">{{
      'labels.oaf.Taken' | translate
    }}</mat-checkbox>
    <mat-checkbox fxFlex="32%" formControlName="previouslyNotTakenCredit">{{
      'labels.oaf.Not Taken' | translate
    }}</mat-checkbox>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
    <mat-label fxFlex="98%">{{ 'labels.oaf.Client Previously Defaulted' | translate }}</mat-label>
    <mat-form-field fxFlex="32%">
      <input type="number" matInput formControlName="previouslyDefaultedFrom" />
    </mat-form-field>

    <span>{{ 'labels.oaf.To' | translate }}</span>

    <mat-form-field fxFlex="32%">
      <input type="number" matInput formControlName="previouslyDefaultedTo" />
    </mat-form-field>
    <mat-error
      *ngIf="loanProductClientEligibilityForm.errors?.['previouslyDefaultedInvalid'] && (loanProductClientEligibilityForm.touched || loanProductClientEligibilityForm.dirty)"
      >{{ 'labels.oaf.Both values are required' | translate }}</mat-error
    >
  </div>
  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
    <mat-label fxFlex="98%">{{ 'labels.oaf.Minimum Credit Repaid' | translate }}</mat-label>
    <mat-form-field fxFlex="32%">
      <input matInput formControlName="minimumCreditRepaid" />
    </mat-form-field>
    <mat-form-field fxFlex="32%">
      <mat-select formControlName="minimumCreditRepaidType">
        <mat-option *ngFor="let amount of amountCalculationTypeOptions" [value]="amount.code">
          {{ amount.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="loanProductsTemplate?.loanType?.id == 2 || loanTypeId == 2">
    <p class="red">{{ 'labels.oaf.Applicable to Group loans only' | translate }}</p>
    <div fxLayout="row wrap" fxFlexFill fxLayoutGap="2%" fxLayout.lt-md="column">
      <mat-label fxFlex="98%">{{ 'labels.oaf.Client Group Previously Defaulted' | translate }}</mat-label>
      <mat-checkbox fxFlex="32%" formControlName="clientGroupPreviouslyDefaulted">{{
        'labels.oaf.Defaulted' | translate
      }}</mat-checkbox>
      <mat-checkbox fxFlex="32%" formControlName="clientGroupPreviouslyNotDefaulted">{{
        'labels.oaf.Not Defaulted' | translate
      }}</mat-checkbox>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
      <mat-label fxFlex="98%">{{ 'labels.oaf.Minimum Credit Repaid' | translate }}</mat-label>
      <mat-form-field fxFlex="32%">
        <input matInput formControlName="minimumGroupCreditRepaid" />
      </mat-form-field>
      <mat-form-field fxFlex="32%">
        <mat-select formControlName="minimumGroupCreditRepaidType">
          <mat-option *ngFor="let amount of amountCalculationTypeOptions" [value]="amount.code">
            {{ amount.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious disabled>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      {{ 'labels.buttons.Previous' | translate }}
    </button>
    <button mat-raised-button matStepperNext>
      {{ 'labels.buttons.Next' | translate }}&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>
</form>
