<mat-toolbar fxLayout="row" color="primary" id="mifosx-toolbar">
  <button
    mat-icon-button
    *ngIf="!sidenavCollapsed"
    (click)="toggleSidenav()"
    [matTooltip]="'Toggle Hide/Open' | translate"
  >
    <fa-icon icon="bars" size="lg"></fa-icon>
  </button>

  <button
    mat-icon-button
    *ngIf="sidenav.opened"
    (click)="toggleSidenavCollapse()"
    [matTooltip]="'Toggle Collapse' | translate"
    fxHide.lt-md="true"
  >
    <fa-icon *ngIf="!sidenavCollapsed" icon="chevron-left"></fa-icon>
    <fa-icon *ngIf="sidenavCollapsed" icon="chevron-right"></fa-icon>
  </button>

  <nav mat-tab-nav-bar backgroundColor="primary" class="ml-1" *ngIf="hasChecked">
    <a mat-tab-link class="tab-link" *ngIf="displayAdminOptions && activeCountries.length > 0">
      <div class="form-group">
        <select class="form-control" id="countryId" (change)="saveTheSelectedCountry($event.target.value)">
          <option value="" selected disabled hidden>
            {{ selectedCountryName ? selectedCountryName : ('labels.commons.Select Country' | translate) }}
          </option>
          <option *ngFor="let country of activeCountries" [value]="country.id">{{ country.name }}</option>
        </select>
      </div>
    </a>

    <a
      mat-tab-link
      class="tab-link"
      [matMenuTriggerFor]="institutionMenu"
      #institutionMenuTrigger="matMenuTrigger"
      *ngIf="(selectedCountryName && displayAdminOptions) || !displayAdminOptions"
    >
      <fa-icon class="mr-05" icon="university" size="lg"></fa-icon>
      {{ 'labels.menus.Institution' | translate }}
    </a>

    <a
      mat-tab-link
      class="tab-link"
      *ngIf="(selectedCountryName && displayAdminOptions) || !displayAdminOptions"
      [routerLink]="['/organization']"
    >
      <fa-icon class="mr-05" icon="building" size="lg"></fa-icon>
      {{ 'labels.menus.Organization' | translate }}
    </a>

    <a
      mat-tab-link
      class="tab-link"
      *ngIf="(selectedCountryName && displayAdminOptions) || !displayAdminOptions"
      [routerLink]="['/products']"
    >
      <fa-icon class="mr-05" icon="book" size="lg"></fa-icon>
      {{ 'labels.menus.Products' | translate }}
    </a>

    <span fxHide.lt-lg="true" *ngIf="(selectedCountryName && displayAdminOptions) || !displayAdminOptions">
      <a
        mat-tab-link
        class="tab-link"
        [matMenuTriggerFor]="adminMenu"
        #adminMenuTrigger="matMenuTrigger"
        *ngIf="displayAdminOptions"
      >
        <fa-icon class="mr-05" icon="shield-alt" size="lg"></fa-icon>
        {{ 'labels.menus.Admin' | translate }}
      </a>
    </span>
  </nav>

  <span fxFlex="auto"></span>

  <mifosx-search-tool></mifosx-search-tool>

  <mifosx-language-selector class="ml-1 language" fxHide.lt-md></mifosx-language-selector>

  <mifosx-theme-picker fxHide.lt-md></mifosx-theme-picker>

  <mifosx-notifications-tray fxHide.lt-md></mifosx-notifications-tray>

  <button mat-icon-button class="ml-1 img-button" [matMenuTriggerFor]="applicationMenu">
    <img src="assets/images/user_placeholder.png" />
  </button>
</mat-toolbar>

<mat-menu #institutionMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item routerLink="/clients">{{ 'labels.menus.Clients' | translate }}</button>
  <button mat-menu-item routerLink="/groups">{{ 'labels.menus.Groups' | translate }}</button>

  <span fxHide.lg>
    <button mat-menu-item [matMenuTriggerFor]="adminMenu" *ngIf="displayAdminOptions">
      {{ 'labels.menus.Admin' | translate }}
    </button>
  </span>
</mat-menu>

<!-- Toolbar Menus -->
<mat-menu #reportsMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item [routerLink]="['/reports']">{{ 'labels.menus.All' | translate }}</button>
  <button mat-menu-item [routerLink]="['/reports', 'Client']">{{ 'labels.menus.Clients' | translate }}</button>
  <button mat-menu-item [routerLink]="['/reports', 'Loan']">{{ 'labels.menus.Loans' | translate }}</button>
  <button mat-menu-item [routerLink]="['/reports', 'Savings']">{{ 'labels.menus.Savings' | translate }}</button>
  <button mat-menu-item [routerLink]="['/reports', 'Fund']">{{ 'labels.menus.Funds' | translate }}</button>
  <button mat-menu-item [routerLink]="['/reports', 'Accounting']">{{ 'labels.menus.Accounting' | translate }}</button>
  <button mat-menu-item [routerLink]="['/xbrl']">{{ 'labels.menus.XBRL' | translate }}</button>
</mat-menu>

<mat-menu #adminMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item [routerLink]="['/users']">{{ 'labels.menus.Users' | translate }}</button>

  <button mat-menu-item [routerLink]="['/system']">{{ 'labels.menus.System' | translate }}</button>
</mat-menu>

<mat-menu #selfServiceMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item [routerLink]="['/self-service/users']">{{ 'labels.menus.User Management' | translate }}</button>
  <button mat-menu-item [routerLink]="['/self-service/app-configuration']">
    {{ 'labels.menus.App Configuration' | translate }}
  </button>
  <button mat-menu-item [routerLink]="['/self-service/task-management']">
    {{ 'labels.menus.Task Management' | translate }}
  </button>
</mat-menu>

<!-- Application User Help Menu -->
<mat-menu #applicationMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="help()">
    <mat-icon matListIcon>
      <fa-icon icon="question-circle" size="sm"></fa-icon>
    </mat-icon>
    <span>{{ 'labels.menus.Help' | translate }}</span>
  </button>
  <button mat-menu-item [routerLink]="['/profile']">
    <mat-icon>
      <fa-icon icon="user" size="sm"></fa-icon>
    </mat-icon>
    <span>{{ 'labels.menus.Profile' | translate }}</span>
  </button>
  <button mat-menu-item [routerLink]="['/settings']">
    <mat-icon>
      <fa-icon icon="cog" size="sm"></fa-icon>
    </mat-icon>
    <span>{{ 'labels.menus.Settings' | translate }}</span>
  </button>
  <button mat-menu-item (click)="logout()" id="logout">
    <mat-icon>
      <fa-icon icon="sign-out-alt" size="sm"></fa-icon>
    </mat-icon>
    <span>{{ 'labels.menus.Sign Out' | translate }}</span>
  </button>
</mat-menu>
