<div class="container">
  <mat-card>
    <form [formGroup]="officeForm" (ngSubmit)="submit()">
      <mat-card-content>
        <div fxLayout="column">
          <div floatLabel="always" appearance="outline" class="full-width radio-container">
            <mat-label class="ou-label">{{ 'labels.commons.Is the OU a country' | translate }}</mat-label>
            <input
              class="custom-radio"
              (change)="change_country(true)"
              formControlName="country"
              type="radio"
              value="Yes"
              id="yes"
            />
            <label class="mat-label-for" for="yes">{{ 'labels.buttons.Yes' | translate }}</label>
            <input
              class="custom-radio"
              (change)="change_country(false)"
              formControlName="country"
              type="radio"
              value="No"
              id="no"
            />
            <label class="mat-label-for" for="no">{{ 'labels.buttons.No' | translate }}</label>
          </div>

          <mat-form-field>
            <mat-label>{{ 'labels.inputs.Office' | translate }}</mat-label>
            <input required matInput formControlName="name" />
            <mat-error *ngIf="officeForm.controls.name.hasError('required')"
              >{{ 'labels.commons.Office is' | translate }}<strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <!--  <mat-form-field>
            <mat-label>Parent Office</mat-label>
            <mat-select placeholder="Search" #parentOffice required formControlName="parentId">
              <mat-select-filter *ngIf="parentOffice.focused" [array]="officeData" (filteredReturn)="officeDataSliced=$event"
                [displayMember]="'name'">
              </mat-select-filter>
              <mat-option *ngFor="let office of officeData" [value]="office.id"
                [class.hide]="!isFiltered(office)">
                {{office.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="officeForm.controls.parentId.hasError('required')">
              Parent Office is <strong>required</strong>
            </mat-error>
          </mat-form-field> -->

          <div>
            <label for="parentId">{{ 'labels.inputs.Parent Office' | translate }}</label>
            <ng-select
              #office
              id="parentId"
              [items]="officeData"
              bindLabel="officeHierarchyPath"
              bindValue="id"
              placeholder="{{ 'labels.inputs.Select Office' | translate }}"
              formControlName="parentId"
              aria-labelledby="parentId"
              [virtualScroll]="true"
            >
            </ng-select>
          </div>

          <mat-form-field (click)="openedOnDatePicker.open()">
            <mat-label>{{ 'labels.inputs.Opened On' | translate }}</mat-label>
            <input
              matInput
              [min]="minDate"
              [max]="maxDate"
              formControlName="openingDate"
              required
              [matDatepicker]="openedOnDatePicker"
            />
            <mat-datepicker-toggle matSuffix [for]="openedOnDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #openedOnDatePicker></mat-datepicker>
            <mat-error *ngIf="officeForm.controls.openingDate.hasError('required')"
              >{{ 'labels.inputs.Opening Date is' | translate
              }}<strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'labels.inputs.External ID' | translate }}</mat-label>
            <input matInput formControlName="externalId" />
          </mat-form-field>
        </div>

        <div fxLayout="column" *ngIf="showHierarchy">
          <mifosx-office-hierarchy #officeHierarchy></mifosx-office-hierarchy>
        </div>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['/organization/offices']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" [disabled]="!officeForm.valid" *mifosxHasPermission="'CREATE_OFFICE'">
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
