.tab-container {
  padding: 1%;
  margin: 1%;

  h3{
	margin:1% auto;
  }

  table {
	width: 100%;
	margin-bottom: 20px;
  }

  .refresh-button {
    display: block;
    margin: 0 auto;
  }
}

span {
  margin: 0.5em 0;
}
