<h3 class="mat-h3" fxFlexFill>{{ 'labels.oaf.Client Eligibility' | translate }}</h3>

  <mat-divider fxFlexFill></mat-divider>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'labels.oaf.Previously taken input' | translate }}</span>
    <span fxFlex="60%">{{ loanProduct.clientEligibility?.previouslyTakenInput }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'labels.oaf.Previously not taken input' | translate }}</span>
    <span fxFlex="60%">{{ loanProduct.clientEligibility?.previouslyNotTakenInput }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'labels.oaf.Previously taken credit' | translate }}</span>
    <span fxFlex="60%">{{ loanProduct.clientEligibility?.previouslyTakenCredit }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'labels.oaf.Previously not taken credit' | translate }}</span>
    <span fxFlex="60%">{{ loanProduct.clientEligibility?.previouslyNotTakenCredit }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'labels.oaf.Client Previously Defaulted' | translate }}</span>
    <span fxFlex="60%"> {{ loanProduct.clientEligibility?.previouslyDefaultedFrom }} - {{ loanProduct.clientEligibility?.previouslyDefaultedTo }} </span>
  </div>
  <div fxFlexFill>
    <span fxFlex="40%">{{ 'labels.oaf.Minimum Credit Repaid' | translate }}</span>
    <span fxFlex="60%"> {{ loanProduct.clientEligibility?.minimumCreditRepaid }} </span>
  </div>

  <div class="contents" *ngIf="loanProduct.loanTypeId == 2">
    <div fxFlexFill>
      <span fxFlex="40%">{{ 'labels.oaf.Client Group Previously Defaulted' | translate }}</span>
      <span fxFlex="60%">{{ loanProduct.clientEligibility?.clientGroupPreviouslyDefaulted }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="40%">{{ 'labels.oaf.Client Group Previously Not Defaulted' | translate }}</span>
      <span fxFlex="60%">{{ loanProduct.clientEligibility?.clientGroupPreviouslyNotDefaulted }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="40%">{{ 'labels.oaf.Minimum Group Credit Repaid' | translate }}</span>
      <span fxFlex="60%">{{ loanProduct.clientEligibility?.minimumGroupCreditRepaid }}</span>
    </div>
  </div>