<div class="container">
  <mifosx-group-removal-review
    [heading]="'labels.oaf.Review' | translate"
    [scope]="scope"
    [groupsAffected]="groupsAffected"
    [clientsInScope]="clientsInScope"
    [toBeRemoved]="toBeRemoved"
    [toBeSkipped]="toBeSkipped"
    [exceptions]="exceptions"
    [rows]="groups"
    [totalGroups]="totalGroups"
    [canDownloadSkipped]="canDownloadCsv('skipped')"
    [canDownloadRemoved]="canDownloadCsv('removed')"
    (closeClicked)="cancel()"
    (downloadClicked)="onDownloadClicked($event)"
  ></mifosx-group-removal-review>

  <div class="review-meta" *ngIf="showReviewMeta">
    <div class="review-meta-row">
      <span class="review-meta-label">{{ 'labels.oaf.Reviewer' | translate }}</span>
      <span class="review-meta-value">{{ reviewedBy || '-' }}</span>
    </div>
    <div class="review-meta-row">
      <span class="review-meta-label">{{ 'labels.oaf.ReviewComment' | translate }}</span>
      <span class="review-meta-value">{{ reviewComment || '-' }}</span>
    </div>
  </div>

  <div class="page-actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px" *ngIf="showSubmitActions">
    <button mat-stroked-button (click)="cancel()">
      <fa-icon icon="times"></fa-icon>&nbsp;{{ 'labels.buttons.Cancel' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="submitForApproval()" *ngIf="canSubmitForApproval">
      <fa-icon icon="circle"></fa-icon>&nbsp;{{ 'labels.oaf.SubmitForApproval' | translate }}
    </button>
  </div>

  <div class="page-actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px" *ngIf="!showSubmitActions">
    <button mat-stroked-button (click)="cancel()">
      <fa-icon icon="times"></fa-icon>&nbsp;{{ 'labels.buttons.Back' | translate }}
    </button>
  </div>
</div>
