<div
  fxLayoutAlign="end"
  class="container m-b-20 transaction-buttons"
  fxLayoutGap="2%"
  *ngIf="!transactionData.type.contra"
>
  <!--  <span *mifosxHasPermission="'ADJUST_LOAN'">
    <button mat-raised-button color="primary" [routerLink]="'edit'">
      <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;Edit
    </button>
  </span> -->
  <button mat-raised-button color="warn" *mifosxHasPermission="'ADJUST_LOAN'" (click)="undoTransaction()">
    <fa-icon icon="undo"></fa-icon>&nbsp;&nbsp;{{ 'label.buttons.Undo' | translate }}
  </button>
</div>

<div class="container">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row wrap" class="content">
        <div fxFlex="50%" class="mat-body-strong">{{ 'label.inputs.Transaction Id' | translate }}</div>

        <div fxFlex="50%">
          {{ transactionData.id }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">{{ 'label.inputs.Type' | translate }}</div>

        <div fxFlex="50%">
          {{ transactionData.type.value }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">{{ 'label.inputs.Transaction Date' | translate }}</div>

        <div fxFlex="50%">
          {{ transactionData.date | dateFormat }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">{{ 'label.inputs.Currency' | translate }}</div>

        <div fxFlex="50%">
          {{ transactionData.currency.name }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">{{ 'label.inputs.Amount' | translate }}</div>

        <div fxFlex="50%">
          {{ transactionData.amount }}
        </div>

        <ng-container *ngIf="transactionData.paymentDetailData">
          <div *ngIf="transactionData.paymentDetailData.paymentType" fxFlex="50%" class="mat-body-strong">
            {{ 'label.inputs.Payment Type' | translate }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.paymentType" fxFlex="50%">
            {{ transactionData.paymentDetailData.paymentType.name }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.accountNumber" fxFlex="50%" class="mat-body-strong">
            {{ 'label.inputs.Account No' | translate }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.accountNumber" fxFlex="50%">
            {{ transactionData.paymentDetailData.accountNumber }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.checkNumber" fxFlex="50%" class="mat-body-strong">
            {{ 'label.inputs.Cheque Number' | translate }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.checkNumber" fxFlex="50%">
            {{ transactionData.paymentDetailData.checkNumber }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.routingCode" fxFlex="50%" class="mat-body-strong">
            {{ 'label.inputs.Routing Code' | translate }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.routingCode" fxFlex="50%">
            {{ transactionData.paymentDetailData.routingCode }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.receiptNumber" fxFlex="50%" class="mat-body-strong">
            {{ 'label.inputs.Receipt No' | translate }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.receiptNumber" fxFlex="50%">
            {{ transactionData.paymentDetailData.receiptNumber }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.bankNumber" fxFlex="50%" class="mat-body-strong">Bank No.</div>

          <div *ngIf="transactionData.paymentDetailData.bankNumber" fxFlex="50%">
            {{ transactionData.paymentDetailData.bankNumber }}
          </div>

          <div
            *ngIf="transactionData.paymentDetailData.paymentConfirmation?.mobilePhoneNumber"
            fxFlex="50%"
            class="mat-body-strong"
          >
            {{ 'label.inputs.Phone Number' | translate }}
          </div>

          <div *ngIf="transactionData.paymentDetailData.paymentConfirmation?.mobilePhoneNumber" fxFlex="50%">
            {{ transactionData.paymentDetailData.paymentConfirmation?.mobilePhoneNumber }}
          </div>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
</div>
