<h2 mat-dialog-title>{{ 'labels.inputs.clientDetails' | translate}}</h2>

<mat-dialog-content class="dialog-content">

  <div *ngIf="loading" class="spinner-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

  <div *ngIf="!loading && client" class="content-container">
    <div class="images-row">
      <div class="image-block">
        <span>{{ 'labels.commons.clientImage' | translate }}</span>
        <img class="profile-image" [src]="clientImage" alt="{{ 'labels.commons.clientImgMissing' | translate }}" />
      </div>
      <div class="image-block">
        <span>{{ 'labels.commons.nidImage' | translate }}</span>
        <img class="profile-image" [src]="identifierImage" alt="{{ 'labels.commons.clientNIDMissing' | translate }}" />
      </div>
    </div>

    <div class="details-row">
      <table class="details-table">

        <tr>
          <td><strong>{{ 'labels.inputs.ID' | translate }}:</strong></td>
          <td>{{ client.id }}</td>
        </tr>

        <tr>
          <td><strong>{{ 'labels.inputs.Name' | translate }}:</strong></td>
          <td>{{ client.displayName }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'labels.inputs.accountNumber' | translate }}:</strong></td>
          <td>{{ client.accountNo }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'labels.inputs.DOB' | translate }}:</strong></td>
          <td>{{ client?.dateOfBirth | date:'MMM d, yyyy'}}</td>
        </tr>
        <tr>
          <td><strong>{{ 'labels.inputs.externalId' | translate }}:</strong></td>
          <td>{{ client.externalId }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'labels.inputs.mobileNo' | translate }}:</strong></td>
          <td>{{ client.mobileNo }}</td>
        </tr>

        <tr>
          <td><strong>{{ 'labels.commons.officeLevelName' | translate }}:</strong></td>
          <td>{{ client.officeCountryHierarchyLevelName }}</td>
        </tr>

        <tr>
          <td><strong>{{ 'labels.oaf.OUPath' | translate }}:</strong></td>
          <td>{{ client.officeHierarchyPath }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'labels.inputs.Status' | translate }}:</strong></td>
          <td>{{ client.status.value }}</td>
        </tr>

        <tr>
          <td><strong>{{ 'labels.oaf.subStatus' | translate }}:</strong></td>
          <td>{{ client.subStatus?.name }}</td>
        </tr>

        <tr>
          <td><strong>{{ 'labels.commons.clientNID' | translate }}:</strong></td>
          <td>{{ client.identifiers.length > 0 ? client.identifiers[0]?.documentKey : 'No NID'}}</td>
        </tr>


        <tr>
          <td><strong>{{ 'labels.inputs.submittedOnDate' | translate }}:</strong></td>
          <td>{{ client.timeline.submittedOnDate | date:'MMM d, yyyy' }}</td>
        </tr>

        <tr *ngIf="client.failedKycFields?.length">
          <td><strong>{{ 'labels.commons.failedKYCFields' | translate }}:</strong></td>
          <td *ngIf="client.failedKycFields?.length > 0">
              {{ client.failedKycFields.join(', ') }}
          </td>
        </tr>

        <tr *ngIf="client.kycRejectionNotes">
          <td><strong>{{ 'labels.commons.kycRejectionNotes' | translate }}:</strong></td>
          <td>{{ client.kycRejectionNotes }}</td>
        </tr>


      </table>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions *ngIf="!loading" class="dialog-actions">
  <button mat-button (click)="onCancel()">{{ 'labels.buttons.Cancel' | translate }}</button>
  <button mat-button color="accent" (click)="openRequestInfo()" *ngIf="data.canRequestMoreInfo">{{ 'labels.commons.requestMoreInfo' | translate }}</button>
  <button mat-raised-button color="primary" (click)="openConfirm()" *ngIf="data.canRequestMoreInfo">{{ 'labels.buttons.Approve' | translate }}</button>
</mat-dialog-actions>
