<div class="container">
  <mat-card>
    <form [formGroup]="combineOfficeForm" (ngSubmit)="submit()">
      <mat-card-content>
        <div fxLayout="column">
          <div>
            <label for="parentId">{{ 'labels.inputs.Parent Office' | translate }}</label>
            <ng-select
              #office
              [items]="officeData"
              bindLabel="officeHierarchyPath"
              bindValue="id"
              placeholder="{{ 'labels.inputs.Select Office' | translate }}"
              formControlName="parentId"
              aria-labelledby="parentId"
              (change)="fetchByHierarchyLevelByOfficeId($event)"
              [virtualScroll]="true"
            >
            </ng-select>
          </div>
          <div>
            <label for="sourceOffice">{{ 'labels.commons.Source Office' | translate }}</label>
            <ng-select
              #sourceOffice
              [items]="sourceOfficeData"
              bindLabel="name"
              bindValue="id"
              placeholder="{{ 'labels.inputs.Select Office' | translate }}"
              formControlName="mergingOfficeIds"
              aria-labelledby="sourceOffice"
              [virtualScroll]="true"
              [multiple]="true"
            >
            </ng-select>
          </div>

          <mat-form-field>
            <mat-label>{{ 'labels.commons.Destination Office' | translate }}</mat-label>
            <input required matInput formControlName="name" />
            <mat-error *ngIf="combineOfficeForm.controls.name.hasError('required')">{{ 'labels.commons.Office is' | translate }}<strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field (click)="openedOnDatePicker.open()">
            <mat-label>{{ 'labels.inputs.Opened On' | translate }}</mat-label>
            <input
              matInput
              [min]="minDate"
              [max]="maxDate"
              formControlName="openingDate"
              required
              [matDatepicker]="openedOnDatePicker"
            />
            <mat-datepicker-toggle matSuffix [for]="openedOnDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #openedOnDatePicker></mat-datepicker>
            <mat-error *ngIf="combineOfficeForm.controls.openingDate.hasError('required')">{{ 'labels.inputs.Opening Date is' | translate }}<strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'labels.inputs.External ID' | translate }}</mat-label>
            <input matInput formControlName="externalId" />
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['/organization/offices']">{{ 'labels.buttons.Cancel' | translate }}</button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!combineOfficeForm.valid"
          *mifosxHasPermission="'CREATE_OFFICE'"
        >{{ 'labels.buttons.Submit' | translate }}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
