<form [formGroup]="loansAccountTermsForm">
  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
    <mat-form-field fxFlex="48%">
      <mat-label
        >{{ 'labels.inputs.Principal' | translate }}
        {{ loansAccountProductTemplate?.currency.displaySymbol }}</mat-label
      >
      <input type="number" matInput formControlName="principal" />
      <mat-error *ngIf="loansAccountTermsForm.controls.principal.hasError('required')">
        {{ 'labels.inputs.Principal' | translate }} {{ 'labels.commons.is' | translate }}
        <strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4">{{ 'labels.heading.Term Options' | translate }}</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Loan Term' | translate }}</mat-label>
      <input matInput required formControlName="loanTermFrequency" />
      <mat-error *ngIf="loansAccountTermsForm.controls.loanTermFrequency.hasError('required')">
        {{ 'labels.inputs.Loan Term' | translate }} {{ 'labels.commons.is' | translate }}
        <strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Frequency' | translate }}</mat-label>
      <mat-select required formControlName="loanTermFrequencyType">
        <mat-option *ngFor="let type of termFrequencyTypeData" [value]="type.id">
          {{ type.value }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="loansAccountTermsForm.controls.loanTermFrequencyType.hasError('required')">
        {{ 'labels.inputs.Frequency' | translate }} {{ 'labels.commons.is' | translate }}
        <strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Number of repayments' | translate }}</mat-label>
      <input type="number" matInput formControlName="numberOfRepayments" />
      <mat-error *ngIf="loansAccountTermsForm.controls.numberOfRepayments.hasError('required')">
        {{ 'labels.inputs.Number of repayments' | translate }} {{ 'labels.commons.is' | translate }}
        <strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%" (click)="repaymentsPicker.open()">
      <mat-label>{{ 'labels.inputs.First repayment on' | translate }}</mat-label>
      <input
        matInput
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="repaymentsPicker"
        formControlName="repaymentsStartingFromDate"
      />
      <mat-datepicker-toggle matSuffix [for]="repaymentsPicker"></mat-datepicker-toggle>
      <mat-datepicker #repaymentsPicker></mat-datepicker>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4">Repaid Every</h4>

    <mat-form-field fxFlex="48%">
      <mat-label> {{ 'labels.heading.Repaid Every' | translate }}</mat-label>
      <input
        matInput
        required
        formControlName="repaymentEvery"
        [disabled]="!loansAccountProductTemplate?.product.allowAttributeOverrides.repaymentEvery"
      />
      <mat-error *ngIf="loansAccountTermsForm.controls.repaymentEvery.hasError('required')">
        {{ 'labels.inputs.Repaid every' | translate }} {{ 'labels.commons.is' | translate }}
        <strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Frequency' | translate }}</mat-label>
      <mat-select
        formControlName="repaymentFrequencyType"
        required
        [disabled]="!loansAccountProductTemplate?.product.allowAttributeOverrides.repaymentEvery"
      >
        <mat-option *ngFor="let repaymentFrequencyType of termFrequencyTypeData" [value]="repaymentFrequencyType.id">
          {{ repaymentFrequencyType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="48%" *ngIf="loansAccountTermsForm.controls.repaymentFrequencyType.value == 2">
      <mat-label>{{ 'labels.inputs.Select On' | translate }}</mat-label>
      <mat-select formControlName="repaymentFrequencyNthDayType">
        <mat-option
          *ngFor="let repaymentFrequencyNthDayType of repaymentFrequencyNthDayTypeData"
          [value]="repaymentFrequencyNthDayType.id"
        >
          {{ repaymentFrequencyNthDayType.value | translateKey : 'catalogs' }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="48%" *ngIf="loansAccountTermsForm.controls.repaymentFrequencyType.value == 2">
      <mat-label>{{ 'labels.inputs.Select Day' | translate }}</mat-label>
      <mat-select formControlName="repaymentFrequencyDayOfWeekType">
        <mat-option
          *ngFor="let repaymentFrequencyDayOfWeekType of repaymentFrequencyDaysOfWeekTypeData"
          [value]="repaymentFrequencyDayOfWeekType.id"
        >
          {{ repaymentFrequencyDayOfWeekType.value | translateKey : 'catalogs' }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="48%" (click)="interestPicker.open()">
      <mat-label>{{ 'labels.inputs.Interest charged from' | translate }}</mat-label>
      <input
        matInput
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="interestPicker"
        formControlName="interestChargedFromDate"
      />
      <mat-datepicker-toggle matSuffix [for]="interestPicker"></mat-datepicker-toggle>
      <mat-datepicker #interestPicker></mat-datepicker>
    </mat-form-field>

    <ng-container *ngIf="!loansAccountProductTemplate?.isLoanProductLinkedToFloatingRate">
      <mat-form-field fxFlex="48%">
        <mat-label>{{ 'labels.inputs.Nominal interest rate' | translate }}</mat-label>
        <input type="number" matInput formControlName="interestRatePerPeriod" />
      </mat-form-field>

      <mat-form-field fxFlex="48%">
        <mat-label>{{ 'labels.inputs.Interest method' | translate }}</mat-label>
        <mat-select
          [disabled]="!loansAccountProductTemplate?.product.allowAttributeOverrides.interestType"
          formControlName="interestType"
        >
          <mat-option *ngFor="let interestType of interestTypeData" [value]="interestType.id">
            {{ interestType.value | translateKey : 'catalogs' }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox
        fxFlex="48%"
        formControlName="isEqualAmortization"
        [checked]="loansAccountProductTemplate?.isEqualAmortization"
      >
        <p>{{ 'labels.inputs.Is Equal Amortization' | translate }}</p>
      </mat-checkbox>
    </ng-container>

    <ng-container *ngIf="loansAccountProductTemplate?.isLoanProductLinkedToFloatingRate">
      <!-- <mat-form-field fxFlex="48%">
        <mat-label>Interest Rate Differential</mat-label>
        <input matInput formControlName="interestRateDifferential">
      </mat-form-field> -->

      <div fxFlex="48%" fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
        <mat-form-field fxFlex="48%">
          <mat-label>{{ 'labels.inputs.Interest Method' | translate }}</mat-label>
          <mat-select formControlName="interestType">
            <mat-option
              [disabled]="!loansAccountProductTemplate?.product.allowAttributeOverrides.interestType"
              *ngFor="let interestType of interestTypeData"
              [value]="interestType.id"
            >
              {{ interestType.value | translateKey : 'catalogs' }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox fxFlex="48%" formControlName="isFloatingInterestRate">
          <p>{{ 'labels.inputs.Is Floating Rate' | translate }}?</p>
        </mat-checkbox>
      </div>
    </ng-container>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Amortization' | translate }}</mat-label>
      <mat-select
        required
        [disabled]="!loansAccountProductTemplate?.product.allowAttributeOverrides.amortizationType"
        formControlName="amortizationType"
      >
        <mat-option *ngFor="let amortizationType of amortizationTypeData" [value]="amortizationType.id">
          {{ amortizationType.value | translateKey : 'catalogs' }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="loansAccountTermsForm.controls.amortizationType.hasError('required')">
        {{ 'labels.inputs.Amortization Type' | translate }} {{ 'labels.commons.is' | translate }}
        <strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4">{{ 'labels.heading.Interest Calculations' | translate }}</h4>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Interest calculation period' | translate }}</mat-label>
      <mat-select
        [disabled]="!loansAccountProductTemplate?.product.allowAttributeOverrides.interestCalculationPeriodType"
        formControlName="interestCalculationPeriodType"
      >
        <mat-option
          *ngFor="let interestCalculationPeriodType of interestCalculationPeriodTypeData"
          [value]="interestCalculationPeriodType.id"
        >
          {{ interestCalculationPeriodType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-checkbox *ngIf="interestCalculationPeriodType != 0" fxFlex="48%" -->
    <mat-checkbox
      fxFlex="48%"
      formControlName="allowPartialPeriodInterestCalcualtion"
      [disabled]="!loansAccountProductTemplate?.product.allowAttributeOverrides.interestCalculationPeriodType"
    >
      <p>{{ 'labels.inputs.Calculate interest for exact days in partial period' | translate }}</p>
    </mat-checkbox>

    <mat-form-field fxFlex="48%">
      <mat-label
        >{{ 'labels.inputs.Arrears tolerance' | translate }}
        {{ loansAccountProductTemplate?.currency.displaySymbol }}</mat-label
      >
      <input
        matInput
        type="number"
        [attr.disabled]="!loansAccountProductTemplate?.product.allowAttributeOverrides.inArrearsTolerance"
        formControlName="inArrearsTolerance"
      />
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Interest free period' | translate }}</mat-label>
      <input matInput formControlName="graceOnInterestCharged" />
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Repayment Strategy' | translate }}</mat-label>
      <mat-select
        required
        [disabled]="!loansAccountProductTemplate?.product.allowAttributeOverrides.transactionProcessingStrategyId"
        formControlName="transactionProcessingStrategyId"
      >
        <mat-option
          *ngFor="let transactionProcessingStrategy of transactionProcessingStrategyData"
          [value]="transactionProcessingStrategy.id"
        >
          {{ transactionProcessingStrategy.name | translateKey : 'catalogs' }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="loansAccountTermsForm.controls.transactionProcessingStrategyId.hasError('required')">
        {{ 'labels.inputs.Repayment Strategy' | translate }} {{ 'labels.commons.is' | translate }}
        <strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <h4 fxFlex="98%" class="mat-h4">{{ 'labels.heading.Moratorium' | translate }}</h4>

    <mat-checkbox
      fxFlex="23%"
      labelPosition="before"
      formControlName="graceOnPrincipalPayment"
      class="margin-v"
      [disabled]="!loansAccountProductTemplate?.product.allowAttributeOverrides.graceOnPrincipalAndInterestPayment"
    >
      {{ 'labels.inputs.Grace on principal payment' | translate }}
    </mat-checkbox>

    <mat-checkbox
      fxFlex="23%"
      labelPosition="before"
      formControlName="graceOnInterestPayment"
      class="margin-v"
      [disabled]="!loansAccountProductTemplate?.product.allowAttributeOverrides.graceOnPrincipalAndInterestPayment"
    >
      {{ 'labels.inputs.Grace on interest payment' | translate }}
    </mat-checkbox>

    <mat-checkbox
      fxFlex="23%"
      labelPosition="before"
      formControlName="graceOnArrearsAgeing"
      class="margin-v"
      [disabled]="!loansAccountProductTemplate?.product.allowAttributeOverrides.graceOnArrearsAgeing"
    >
      {{ 'labels.inputs.On arrears ageing' | translate }}
    </mat-checkbox>

    <mat-form-field fxFlex="48%" *ngIf="loansAccountProductTemplate?.canDefineInstallmentAmount">
      <mat-label>{{ 'labels.inputs.Installment Amount' | translate }}</mat-label>
      <input type="number" matInput formControlName="fixedEmiAmount" />
    </mat-form-field>

    <ng-container *ngIf="loansAccountProductTemplate?.canUseForTopup">
      <mat-checkbox fxFlex="48%" formControlName="isTopup">
        <p>{{ 'labels.inputs.Is Topup Loan' | translate }}?</p>
      </mat-checkbox>

      <mat-form-field fxFlex="48%" *ngIf="loansAccountTermsForm.controls.isTopup.value">
        <mat-label>{{ 'labels.inputs.Loan closed with Topup' | translate }}</mat-label>
        <mat-select formControlName="loanIdToClose">
          <mat-option *ngFor="let clientActiveLoan of clientActiveLoanData" [value]="clientActiveLoan.id">
            {{ clientActiveLoan.accountNo }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <mat-divider fxFlex="98%"></mat-divider>

    <div fxFlexFill>
      <span fxFlex="40%">{{ 'labels.inputs.Recalculate Interest' | translate }}</span>
      <span fxFlex="60%">{{ loansAccountProductTemplate?.isInterestRecalculationEnabled ? 'Yes' : 'No' }}</span>
    </div>

    <div fxFlexFill *ngIf="loansAccountProductTemplate?.isInterestRecalculationEnabled">
      <span fxFlex="40%">{{ 'labels.inputs.Days in year' | translate }}</span>
      <span fxFlex="60%">{{ loansAccountProductTemplate?.daysInYearType.value }}</span>
    </div>

    <ng-container *ngIf="loansAccountProductTemplate?.isInterestRecalculationEnabled">
      <div fxFlexFill *ngIf="loansAccountProductTemplate?.isInterestRecalculationEnabled">
        <span fxFlex="40%">{{ 'labels.inputs.Advance payments adjustment type' | translate }}</span>
        <span fxFlex="60%">{{
          loansAccountProductTemplate?.interestRecalculationData.rescheduleStrategyType.value
        }}</span>
      </div>

      <div fxFlexFill *ngIf="loansAccountProductTemplate?.isInterestRecalculationEnabled">
        <span fxFlex="40%">{{ 'labels.inputs.Days in month' | translate }}</span>
        <span fxFlex="60%">{{ loansAccountProductTemplate?.daysInMonthType.value }}</span>
      </div>
    </ng-container>

    <ng-container *ngIf="loansAccountProductTemplate?.isInterestRecalculationEnabled">
      <div fxFlexFill>
        <span fxFlex="40%">{{ 'labels.inputs.Interest recalculation compounding on' | translate }}</span>
        <span fxFlex="60%">{{
          loansAccountTermsData.interestRecalculationData.interestRecalculationCompoundingType.value
            | translateKey : 'catalogs'
        }}</span>
      </div>

      <div fxFlexFill>
        <span fxFlex="40%">{{ 'labels.inputs.Frequency Interval for recalculation' | translate }}</span>
        <span fxFlex="60%">
          <span>{{ loansAccountProductTemplate?.interestRecalculationData.recalculationRestFrequencyType.value }}</span>
          <span
            *ngIf="
              loansAccountProductTemplate?.interestRecalculationData.recalculationRestFrequencyType.id == 3 &&
              loansAccountProductTemplate?.interestRecalculationData.recalculationRestFrequencyWeekday != null
            "
          >
            on
            {{ loansAccountProductTemplate?.interestRecalculationData.recalculationRestFrequencyWeekday.value }}</span
          >
          <span
            *ngIf="
              loansAccountProductTemplate?.interestRecalculationData.recalculationRestFrequencyType.id == 4 &&
              loansAccountProductTemplate?.interestRecalculationData.recalculationRestFrequencyOnDay != null
            "
            >on day {{ loansAccountProductTemplate?.interestRecalculationData.recalculationRestFrequencyOnDay }}</span
          >
          <span
            *ngIf="
              loansAccountProductTemplate?.interestRecalculationData.recalculationRestFrequencyType.id == 4 &&
              loansAccountProductTemplate?.interestRecalculationData.recalculationRestFrequencyOnDay == null &&
              loansAccountProductTemplate?.interestRecalculationData.recalculationRestFrequencyNthDay != null
            "
            >on
            {{ loansAccountProductTemplate?.interestRecalculationData.recalculationRestFrequencyNthDay.value }}
            {{ loansAccountProductTemplate?.interestRecalculationData.recalculationRestFrequencyWeekday.value }}</span
          >
        </span>
      </div>
    </ng-container>

    <div
      fxFlexFill
      *ngIf="
        loansAccountProductTemplate?.isInterestRecalculationEnabled &&
        loansAccountProductTemplate?.interestRecalculationData.recalculationRestFrequencyType.id != 1
      "
    >
      <span fxFlex="40%">{{ 'labels.inputs.Frequency Interval for recalculation' | translate }}</span>
      <span fxFlex="60%">{{
        loansAccountProductTemplate?.interestRecalculationData.recalculationRestFrequencyInterval
      }}</span>
    </div>

    <ng-container *ngIf="multiDisburseLoan">
      <mat-divider fxFlex="98%"></mat-divider>
      <h4 fxFlex="98%" class="mat-h4">{{ 'labels.heading.Loan Tranche Details' | translate }}</h4>
      <mat-form-field fxFlex="48%">
        <mat-label>{{ 'labels.inputs.Maximum allowed outstanding balance' | translate }}</mat-label>
        <input matInput required formControlName="loanTermFrequency" />
      </mat-form-field>
      <span fxFlex>
        <button type="button" mat-icon-button color="primary" (click)="addDisbursementDataEntry(disbursementData)">
          <fa-icon icon="plus-circle" size="lg"></fa-icon>
        </button>
      </span>

      <div
        fxFlexFill
        fxLayout="row wrap"
        fxLayout.lt-md="column"
        formArrayName="disbursementData"
        *ngFor="let item of disbursementData.controls; let i = index"
      >
        <div fxFlexFill fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" [formGroupName]="i">
          <mat-form-field fxFlex="48%" (click)="expectedDisbursementDatePicker.open()">
            <mat-label>{{ 'labels.inputs.Eexpected Disbursement Date' | translate }}</mat-label>
            <input
              matInput
              [required]="multiDisburseLoan"
              [min]="minDate"
              [matDatepicker]="expectedDisbursementDatePicker"
              formControlName="expectedDisbursementDate"
            />
            <mat-datepicker-toggle matSuffix [for]="expectedDisbursementDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #expectedDisbursementDatePicker></mat-datepicker>
            <mat-error *ngIf="disbursementData.at(i).controls.expectedDisbursementDate.hasError('required')">
              {{ 'labels.inputs.Eexpected Disbursement Date' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="43%">
            <mat-label>{{ 'labels.inputs.Principal' | translate }}</mat-label>
            <input type="number" matInput [required]="multiDisburseLoan" formControlName="principal" />
            <mat-error *ngIf="disbursementData.at(i).controls.principal.hasError('required')">
              {{ 'labels.inputs.Principal' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <span fxFlex>
            <button type="button" mat-icon-button (click)="removeDisbursementDataEntry(disbursementData, i)">
              <fa-icon icon="minus-circle" size="lg"></fa-icon>
            </button>
          </span>
        </div>
      </div>
    </ng-container>

    <ng-container
      *ngIf="
        loansAccountProductTemplate?.isInterestRecalculationEnabled &&
        loansAccountProductTemplate?.interestRecalculationData.interestRecalculationCompoundingType.id != 0
      "
    >
      <div fxFlexFill>
        <span fxFlex="40%">{{ 'labels.inputs.Frequency for compounding' | translate }}</span>
        <span fxFlex="60%"
          >{{ loansAccountProductTemplate?.interestRecalculationData.recalculationCompoundingFrequencyType.value }}
          <span
            *ngIf="
              loansAccountProductTemplate?.interestRecalculationData.recalculationCompoundingFrequencyType.id == 3 &&
              loansAccountProductTemplate?.interestRecalculationData.recalculationCompoundingFrequencyWeekday != null
            "
          >
            on
            {{ loansAccountProductTemplate?.interestRecalculationData.recalculationCompoundingFrequencyWeekday.value }}
          </span>
          <span
            *ngIf="
              loansAccountProductTemplate?.interestRecalculationData.recalculationCompoundingFrequencyType.id == 4 &&
              loansAccountProductTemplate?.interestRecalculationData.recalculationCompoundingFrequencyOnDay != null
            "
            >on day
            {{ loansAccountProductTemplate?.interestRecalculationData.recalculationCompoundingFrequencyOnDay }}
          </span>
          <span
            *ngIf="
              loansAccountProductTemplate?.interestRecalculationData.recalculationCompoundingFrequencyType.id == 4 &&
              loansAccountProductTemplate?.interestRecalculationData.recalculationCompoundingFrequencyOnDay == null &&
              loansAccountProductTemplate?.interestRecalculationData.recalculationCompoundingFrequencyNthDay != null
            "
            >on
            {{ loansAccountProductTemplate?.interestRecalculationData.recalculationCompoundingFrequencyNthDay.value }}
            {{ loansAccountProductTemplate?.interestRecalculationData.recalculationCompoundingFrequencyWeekday.value }}
          </span>
        </span>
      </div>
    </ng-container>

    <div
      fxFlexFill
      *ngIf="
        loansAccountProductTemplate?.isInterestRecalculationEnabled &&
        loansAccountProductTemplate?.interestRecalculationData.interestRecalculationCompoundingType.id != 0 &&
        loansAccountProductTemplate?.interestRecalculationData.recalculationCompoundingFrequencyType.id != 1
      "
    >
      <span fxFlex="40%">{{ 'labels.inputs.Frequency Interval for compounding' | translate }}</span>
      <span fxFlex="60%">{{
        loansAccountProductTemplate?.interestRecalculationData.recalculationCompoundingFrequencyInterval
      }}</span>
    </div>
  </div>
  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp; {{ 'labels.buttons.Previous' | translate }}
    </button>
    <button mat-raised-button matStepperNext>
      {{ 'labels.buttons.Next' | translate }}&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>
</form>
