{{ 'labels.oaf.Qualification Rules' | translate }}
<mat-divider fxFlexFill></mat-divider>

<div fxFlexFill>
  <span fxFlex="40%">{{ 'labels.text.DownPayment' | translate }}</span>
  <span fxFlex="60%" *ngIf="'STATIC' === loanProduct.terms?.downPaymentQualificationStrategy?.code">{{
    loanProduct.prepaidAmount +
      ('PERCENTAGE' === loanProduct.terms?.prepaidAmountCalculationType?.code ? '%' : '')
  }}</span>
  <div fxFlex="60%" *ngIf="'DYNAMIC' === loanProduct.terms?.downPaymentQualificationStrategy?.code">
    <ul>
      <li *ngFor="let period of loanProduct.qualificationPeriods">
        {{ period.fromDate }} - {{ period.toDate }} > {{ period.prepaidAmount }}
         {{ ('PERCENTAGE' === period.prepaidAmountCalculationType ? '%' : '') }}
      </li>
    </ul>
  </div>
</div>

<div *ngIf="loanTypeId == 2">
  <div fxFlexFill>
    <span fxFlex="40%">{{ 'labels.oaf.Minimum qualified members' | translate }}</span>
    <span fxFlex="60%">{{ loanProduct.qualificationRules?.minimumQualifiedMembers }}</span>
  </div>

  <div fxFlexFill>
    <span fxFlex="40%">{{ 'labels.oaf.New Joiner windows after qualifications' | translate }}</span>
    <span fxFlex="60%">{{
      loanProduct.qualificationRules?.newJoinerWindowsAfterQualification +
        ' ' +
        (loanProduct.qualificationRules?.newJoinerWindowsAfterQualificationFrequency
          | find : loanProductsTemplate.repaymentFrequencyTypeOptions : 'id' : 'value')
    }}</span>
  </div>
  <div fxFlexFill>
    <span fxFlex="40%">{{ 'labels.oaf.Order pickup window after qualifications' | translate }}</span>
    <span fxFlex="60%">{{
      loanProduct.qualificationRules?.orderPickupWindowsAfterQualification +
        ' ' +
        (loanProduct.qualificationRules?.orderPickupWindowsAfterQualificationFrequency
          | find : loanProductsTemplate.repaymentFrequencyTypeOptions : 'id' : 'value')
    }}</span>
  </div>
</div>
