<form [formGroup]="loanProductAccountingForm">
  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
    <mat-radio-group
      fxFlex="98%"
      fxLayout="row"
      fxLayoutGap="5%"
      fxLayout.lt-md="column"
      formControlName="accountingRule"
    >
      <mat-radio-button *ngFor="let accountingRule of accountingRuleData; let i = index" [value]="i + 1">
        {{ accountingRule }}
      </mat-radio-button>
    </mat-radio-group>

    <mat-divider fxFlex="98%"></mat-divider>

    <div
      *ngIf="loanProductAccountingForm.value.accountingRule >= 2 && loanProductAccountingForm.value.accountingRule <= 4"
      fxFlexFill
      fxLayout="row wrap"
      fxLayoutGap="2%"
      fxLayout.lt-md="column"
    >
      <h4 fxFlex="98%" class="mat-h4">{{ 'labels.accounting.Assets' | translate }}</h4>

      <mat-form-field fxFlex="48%">
        <mat-label>{{ 'labels.inputs.Fund source' | translate }}</mat-label>
        <mat-select formControlName="fundSourceAccountId" required>
          <mat-option *ngFor="let assetAccount of assetAccountData" [value]="assetAccount.id">
            {{ assetAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{ 'labels.accounting.Fund source is required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="48%">
        <mat-label>{{ 'labels.inputs.Loan portfolio' | translate }}</mat-label>
        <mat-select formControlName="loanPortfolioAccountId" required>
          <mat-option *ngFor="let assetAccount of assetAccountData" [value]="assetAccount.id">
            {{ assetAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{ 'labels.accounting.Loan portfolio is required' | translate }}
        </mat-error>
      </mat-form-field>

      <div
        *ngIf="
          loanProductAccountingForm.value.accountingRule === 3 || loanProductAccountingForm.value.accountingRule === 4
        "
        fxFlexFill
        fxLayout="row wrap"
        fxLayoutGap="2%"
        fxLayout.lt-md="column"
      >
        <mat-form-field fxFlex="48%">
          <mat-label>{{ 'labels.inputs.Interest Receivable' | translate }}</mat-label>
          <mat-select formControlName="receivableInterestAccountId" required>
            <mat-option *ngFor="let assetAccount of assetAccountData" [value]="assetAccount.id">
              {{ assetAccount.name }}
            </mat-option>
          </mat-select>
          <mat-error>
            {{ 'labels.accounting.Interest Receivable is required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="48%">
          <mat-label>{{ 'labels.inputs.Fees Receivable' | translate }}</mat-label>
          <mat-select formControlName="receivableFeeAccountId" required>
            <mat-option *ngFor="let assetAccount of assetAccountData" [value]="assetAccount.id">
              {{ assetAccount.name }}
            </mat-option>
          </mat-select>
          <mat-error>
            {{ 'labels.accounting.Fees Receivable is required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="48%">
          <mat-label>{{ 'labels.inputs.Penalties Receivable' | translate }}</mat-label>
          <mat-select formControlName="receivablePenaltyAccountId" required>
            <mat-option *ngFor="let assetAccount of assetAccountData" [value]="assetAccount.id">
              {{ assetAccount.name }}
            </mat-option>
          </mat-select>
          <mat-error>
            {{ 'labels.accounting.Penalties Receivable is required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field fxFlex="48%">
        <mat-label>{{ 'labels.inputs.Transfer in suspense' | translate }}</mat-label>
        <mat-select formControlName="transfersInSuspenseAccountId" required>
          <mat-option *ngFor="let assetAccount of assetAccountData" [value]="assetAccount.id">
            {{ assetAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{ 'labels.accounting.Transfer in suspense is required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-divider fxFlex="98%"></mat-divider>

      <h4 fxFlex="98%" class="mat-h4">{{ 'labels.accounting.Income' | translate }}</h4>

      <mat-form-field fxFlex="48%">
        <mat-label>{{ 'labels.inputs.Income from Interest' | translate }}</mat-label>
        <mat-select formControlName="interestOnLoanAccountId" required>
          <mat-option *ngFor="let incomeAccount of incomeAccountData" [value]="incomeAccount.id">
            {{ incomeAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{ 'labels.accounting.Income from Interest is required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="48%">
        <mat-label>{{ 'labels.inputs.Income from fees' | translate }}</mat-label>
        <mat-select formControlName="incomeFromFeeAccountId" required>
          <mat-option *ngFor="let incomeAccount of incomeAccountData" [value]="incomeAccount.id">
            {{ incomeAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{ 'labels.accounting.Income from fees is required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="48%">
        <mat-label>{{ 'labels.inputs.Income from penalties' | translate }}</mat-label>
        <mat-select formControlName="incomeFromPenaltyAccountId" required>
          <mat-option *ngFor="let incomeAccount of incomeAccountData" [value]="incomeAccount.id">
            {{ incomeAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{ 'labels.accounting.Income from penalties is required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="48%">
        <mat-label>{{ 'labels.inputs.Income from Recovery Repayments' | translate }}</mat-label>
        <mat-select formControlName="incomeFromRecoveryAccountId" required>
          <mat-option *ngFor="let incomeAccount of incomeAccountData" [value]="incomeAccount.id">
            {{ incomeAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{ 'labels.accounting.Income from Recovery Repayments is required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-divider fxFlex="98%"></mat-divider>

      <h4 fxFlex="98%" class="mat-h4">{{ 'labels.accounting.Expenses' | translate }}</h4>

      <mat-form-field fxFlex="48%">
        <mat-label>{{ 'labels.inputs.Losses written off' | translate }}</mat-label>
        <mat-select formControlName="writeOffAccountId" required>
          <mat-option *ngFor="let expenseAccount of expenseAccountData" [value]="expenseAccount.id">
            {{ expenseAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{ 'labels.accounting.Losses written off is required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-divider fxFlex="98%"></mat-divider>

      <h4 fxFlex="98%" class="mat-h4">{{ 'labels.accounting.Liabilities' | translate }}</h4>

      <mat-form-field fxFlex="48%">
        <mat-label>{{ 'labels.inputs.Over payment liability' | translate }}</mat-label>
        <mat-select formControlName="overpaymentLiabilityAccountId" required>
          <mat-option *ngFor="let liabilityAccount of liabilityAccountData" [value]="liabilityAccount.id">
            {{ liabilityAccount.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{ 'labels.accounting.Over payment liability is required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-divider fxFlex="98%"></mat-divider>

      <h3 fxFlex="23%" class="mat-h3">{{ 'labels.accounting.Advanced Accounting Rules' | translate }}</h3>

      <mat-checkbox fxFlex="73%" formControlName="advancedAccountingRules"></mat-checkbox>

      <div
        *ngIf="loanProductAccountingForm.value.advancedAccountingRules"
        fxFlexFill
        fxLayout="row wrap"
        fxLayoutGap="2%"
        fxLayout.lt-md="column"
      >
        <h4 fxFlex="33%" class="mat-h4">
          {{ 'labels.accounting.Configure Fund Sources for Payment Channels' | translate }}
        </h4>

        <div fxFlex="63%">
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="add('PaymentFundSource', paymentChannelToFundSourceMappings)"
          >
            <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;
            {{ 'labels.buttons.Add' | translate }}
          </button>
        </div>

        <table
          fxFlex="98%"
          class="mat-elevation-z1"
          mat-table
          [dataSource]="paymentChannelToFundSourceMappings.value"
          *ngIf="paymentChannelToFundSourceMappings.value.length !== 0"
        >
          <ng-container matColumnDef="paymentTypeId">
            <th mat-header-cell *matHeaderCellDef>{{ 'labels.accounting.Payment Type' | translate }}</th>
            <td mat-cell *ngFor="let paymentFundSource of paymentChannelToFundSourceMappings.value">
              {{ paymentFundSource.paymentTypeId | find : paymentTypeData : 'id' : 'name' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fundSourceAccountId">
            <th mat-header-cell *matHeaderCellDef>{{ 'labels.accounting.Fund Source' | translate }}</th>
            <td mat-cell *ngFor="let paymentFundSource of paymentChannelToFundSourceMappings.value">
              {{ paymentFundSource.fundSourceAccountId | find : assetAccountData : 'id' : 'name' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>{{ 'labels.buttons.Actions' | translate }}</th>
            <td mat-cell *ngFor="let paymentFundSource of paymentChannelToFundSourceMappings.value; let i = index">
              <button
                mat-icon-button
                color="primary"
                (click)="edit('PaymentFundSource', paymentChannelToFundSourceMappings, i)"
              >
                <fa-icon icon="edit"></fa-icon>
              </button>
              <button mat-icon-button color="warn" (click)="delete(paymentChannelToFundSourceMappings, i)">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="paymentFundSourceDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: paymentFundSourceDisplayedColumns"></tr>
        </table>

        <h4 fxFlex="33%" class="mat-h4">{{ 'labels.accounting.Map Fees to Specific Income Accounts' | translate }}</h4>

        <div fxFlex="63%">
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="add('FeesIncome', feeToIncomeAccountMappings)"
          >
            <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;
            {{ 'labels.buttons.Add' | translate }}
          </button>
        </div>

        <table
          fxFlex="98%"
          class="mat-elevation-z1"
          mat-table
          [dataSource]="feeToIncomeAccountMappings.value"
          *ngIf="feeToIncomeAccountMappings.value.length !== 0"
        >
          <ng-container matColumnDef="chargeId">
            <th mat-header-cell *matHeaderCellDef>{{ 'labels.accounting.Fees' | translate }}</th>
            <td mat-cell *ngFor="let feesIncome of feeToIncomeAccountMappings.value">
              {{ feesIncome.chargeId | find : chargeData : 'id' : 'name' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="incomeAccountId">
            <th mat-header-cell *matHeaderCellDef>{{ 'labels.accounting.Income Account' | translate }}</th>
            <td mat-cell *ngFor="let feesIncome of feeToIncomeAccountMappings.value">
              {{ feesIncome.incomeAccountId | find : incomeAndLiabilityAccountData : 'id' : 'name' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>{{ 'labels.buttons.Actions' | translate }}</th>
            <td mat-cell *ngFor="let feesIncome of feeToIncomeAccountMappings.value; let i = index">
              <button mat-icon-button color="primary" (click)="edit('FeesIncome', feeToIncomeAccountMappings, i)">
                <fa-icon icon="edit"></fa-icon>
              </button>
              <button mat-icon-button color="warn" (click)="delete(feeToIncomeAccountMappings, i)">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="feesPenaltyIncomeDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: feesPenaltyIncomeDisplayedColumns"></tr>
        </table>

        <h4 fxFlex="33%" class="mat-h4">
          {{ 'labels.accounting.Map Penalties to Specific Income Accounts' | translate }}
        </h4>

        <div fxFlex="63%">
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="add('PenaltyIncome', penaltyToIncomeAccountMappings)"
          >
            <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;
            {{ 'labels.buttons.Add' | translate }}
          </button>
        </div>

        <table
          fxFlex="98%"
          class="mat-elevation-z1"
          mat-table
          [dataSource]="penaltyToIncomeAccountMappings.value"
          *ngIf="penaltyToIncomeAccountMappings.value.length !== 0"
        >
          <ng-container matColumnDef="chargeId">
            <th mat-header-cell *matHeaderCellDef>{{ 'labels.accounting.Penalty' | translate }}</th>
            <td mat-cell *ngFor="let penaltyIncome of penaltyToIncomeAccountMappings.value">
              {{ penaltyIncome.chargeId | find : penaltyData : 'id' : 'name' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="incomeAccountId">
            <th mat-header-cell *matHeaderCellDef>{{ 'labels.accounting.Income Account' | translate }}</th>
            <td mat-cell *ngFor="let penaltyIncome of penaltyToIncomeAccountMappings.value">
              {{ penaltyIncome.incomeAccountId | find : incomeAccountData : 'id' : 'name' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>{{ 'labels.buttons.Actions' | translate }}</th>
            <td mat-cell *ngFor="let penaltyIncome of penaltyToIncomeAccountMappings.value; let i = index">
              <button
                mat-icon-button
                color="primary"
                (click)="edit('PenaltyIncome', penaltyToIncomeAccountMappings, i)"
              >
                <fa-icon icon="edit"></fa-icon>
              </button>
              <button mat-icon-button color="warn" (click)="delete(penaltyToIncomeAccountMappings, i)">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="feesPenaltyIncomeDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: feesPenaltyIncomeDisplayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      {{ 'labels.buttons.Previous' | translate }}
    </button>
    <button mat-raised-button matStepperNext [disabled]="!loanProductFormValid">
      {{ 'labels.buttons.Next' | translate }}&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>
</form>
