<div class="container">

  <mat-card class="tasks-card">

    <mat-card-content>

      <nav mat-tab-nav-bar class="navigation-tabs">
        <a mat-tab-link [routerLink]="['./client-verification-checker-inbox']" routerLinkActive #clientVerifCheckerInbox="routerLinkActive"
        [active]="clientVerifCheckerInbox.isActive" *mifosxHasPermission="'VERIFY_CLIENT'">{{ 'labels.commons.clientVerification' | translate }}</a>
        <a mat-tab-link [routerLink]="['./client-failed-kyc']" routerLinkActive #clientFailedKYC="routerLinkActive"
          [active]="clientFailedKYC.isActive" *mifosxHasPermission="'VERIFY_CLIENT'">{{ 'labels.commons.clientFailedKYC' | translate }}</a>
        <a mat-tab-link [routerLink]="['./client-pending-reverification-checker-inbox']" routerLinkActive #pendingReverifCheckerInbox="routerLinkActive"
          [active]="pendingReverifCheckerInbox.isActive" *mifosxHasPermission="'VERIFY_CLIENT'">{{ 'labels.commons.clientPendingReverification' | translate }}</a>
      </nav>

      <router-outlet></router-outlet>

    </mat-card-content>

  </mat-card>

</div>
