<div class="container">
  <nav mat-tab-nav-bar class="checker-flow-tabs">
    <a mat-tab-link [routerLink]="['./client-approvals']" routerLinkActive #clientApprovals="routerLinkActive"
      [active]="clientApprovals.isActive">
      {{ 'labels.oaf.ManualKYC' | translate }}
    </a>
    <a mat-tab-link [routerLink]="['./client-removal-approvals']" routerLinkActive
      #clientRemovalApprovals="routerLinkActive" [active]="clientRemovalApprovals.isActive">
      {{ 'labels.oaf.BulkClientRemoval' | translate }}
    </a>
  </nav>

  <div class="checker-flow-content">
    <router-outlet></router-outlet>
  </div>
</div>
