<form [formGroup]="shareProductTermsForm">
  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">
    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Total Number of Shares' | translate }}</mat-label>
      <input type="number" matInput formControlName="totalShares" required />
      <mat-error
        >{{ 'labels.inputs.Total Number of Shares is' | translate
        }}<strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Shares to be Issued' | translate }}</mat-label>
      <input type="number" matInput formControlName="sharesIssued" required />
      <mat-error
        >{{ 'labels.commons.Shares to be Issued is' | translate
        }}<strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Nominal/Unit Price' | translate }}</mat-label>
      <input type="number" matInput formControlName="unitPrice" required />
      <mat-error
        >{{ 'labels.commons.Nominal Price is' | translate }}<strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Capital Value' | translate }}</mat-label>
      <input type="number" matInput formControlName="shareCapital" readonly />
      <mat-hint>{{ 'labels.inputs.Shares to be Issued * Nominal Price (Auto calculated)' | translate }}</mat-hint>
    </mat-form-field>
  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;{{ 'labels.buttons.Previous' | translate }}
    </button>
    <button mat-raised-button matStepperNext>
      {{ 'labels.buttons.Next' | translate }} &nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>
</form>
