<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <button mat-raised-button color="primary" [routerLink]="['/dashboard']">
    <fa-icon icon="tachometer-alt"></fa-icon>&nbsp;&nbsp;{{ 'labels.menus.Dashboard' | translate }}
  </button>
  <!-- POC: This button exists in merged/deployed code, but only renders when clients.kyc-v2=true. -->
  <ng-container *mifosxFeatureFlag="'clients.kyc-v2'">
    <button mat-raised-button color="accent" [routerLink]="['/feature-flags/clients-kyc-v2-demo']">
      <fa-icon icon="flag"></fa-icon>&nbsp;&nbsp;KYC V2 Flag Demo
    </button>
  </ng-container>
</div>

<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title"> {{ 'labels.text.Welcome' | translate }}, {{ username }}! </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div fxLayout="column">
        <mat-form-field>
          <mat-label>{{ 'labels.heading.Search Activity' | translate }}</mat-label>
          <input matInput [matAutocomplete]="activitySearch" [formControl]="searchText" />
        </mat-form-field>
      </div>

      <mat-autocomplete #activitySearch="matAutocomplete">
        <mat-option *ngFor="let activity of filteredActivities | async" [routerLink]="activity.path">
          <span>{{ activity.activity }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-card-content>

    <img mat-card-image src="assets/images/mifos_lg-logo.jpg" alt="{{ environment.appDisplayName }}" />
  </mat-card>
</div>
