<div fxLayout="column" id="footer" class="m-b-20">
  <mat-divider fxFlexAlign="center" class="divider"></mat-divider>
  <p fxFlexAlign="center" class="footer-content">{{ 'labels.inputs.Version' | translate }}<b>{{ version }}</b> - <b>{{ hash }}</b></p>
  <p fxFlexAlign="center" class="footer-content" *ngIf="isBusinessDateDefined">{{ 'labels.inputs.Current Business Date' | translate }}<b>{{ businessDate | date: 'EEEE, MMMM dd, y' }}</b></p>
  <mat-divider fxFlexAlign="center" class="divider"></mat-divider>
  <p fxFlexAlign="center" class="footer-content">{{ environment.footerContent }}</p>
</div>
