<div class="container">
    <mat-card>
      <form [formGroup]="editPaymentProviderForm" (ngSubmit)="submit()">
        <mat-card-content>
          <div fxLayout="row">
            <div fxFlex="20%" fxLayout="column"></div>
            <div fxFlex="60%" fxLayout="column">
              <mat-form-field>
                <mat-label>Provider Name</mat-label>
                <input matInput required formControlName="provider_name" readonly/>
                <mat-error *ngIf="editPaymentProviderForm.controls.provider_name.hasError('required')">
                  Provider Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="20%" fxLayout="column"></div>
          </div>
  
          <div fxLayout="row">
            <div fxFlex="40%" fxLayout="column">
              <mat-form-field>
                <mat-label>Country</mat-label>
                <mat-select required formControlName="country_id" readonly>
                  <mat-option *ngFor="let country of countryOptions" [value]="country.id">
                    {{ country.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="editPaymentProviderForm.controls.country_id.hasError('required')">
                  Country is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="10%" fxLayout="column"></div>
            <div fxFlex="40%" fxLayout="column">
              <mat-form-field>
                <mat-label>Office</mat-label>
                <mat-select required formControlName="office_id" readonly>
                  <mat-option *ngFor="let office of officeOptions" [value]="office.id">
                    {{ office.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="editPaymentProviderForm.controls.office_id.hasError('required')">
                  Office is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
          <div fxLayout="row">
            <div fxFlex="40%" fxLayout="column">
              <mat-form-field>
                <mat-label>Business Identification</mat-label>
                <input matInput required formControlName="business_id" />
                <mat-error *ngIf="editPaymentProviderForm.controls.business_id.hasError('required')">
                  Business Identification is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="10%" fxLayout="column"></div>
            <div fxFlex="40%" fxLayout="column">
              <mat-form-field>
                <mat-label>Sub entity code</mat-label>
                <input matInput required formControlName="sub_entity_code" />
                <mat-error *ngIf="editPaymentProviderForm.controls.sub_entity_code.hasError('required')">
                  Sub entity code is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
          <div fxLayout="row">
            <div fxFlex="40%" fxLayout="column">
              <mat-form-field>
                <mat-label>Base URL</mat-label>
                <input matInput required formControlName="base_url" />
                <mat-error *ngIf="editPaymentProviderForm.controls.base_url.hasError('required')">
                  Base URL is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="10%" fxLayout="column"></div>
            <div fxFlex="40%" fxLayout="column">
              <mat-form-field>
                <mat-label>Account creation endpoint</mat-label>
                <input matInput required formControlName="account_creation_endpoint" />
                <mat-error *ngIf="editPaymentProviderForm.controls.account_creation_endpoint.hasError('required')">
                  Account creation endpoint is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
          <div fxLayout="row">
            <div fxFlex="40%" fxLayout="column">
              <mat-form-field>
                <mat-label>Authentication endpoint</mat-label>
                <input matInput required formControlName="authentication_endpoint" />
                <mat-error *ngIf="editPaymentProviderForm.controls.authentication_endpoint.hasError('required')">
                  Authentication endpoint is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
          <div fxLayout="row">
            <div fxFlex="40%" fxLayout="column">
              <mat-form-field>
                <mat-label>Authentication type</mat-label>
                <mat-select required formControlName="authentication_type">
                  <mat-option *ngFor="let authenticationType of authenticationTypeOptions" [value]="authenticationType.id">
                    {{ authenticationType.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="editPaymentProviderForm.controls.authentication_type.hasError('required')">
                  Authentication type is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
  
          <div fxLayout="row">
            <div fxFlex="40%" fxLayout="column">
              <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput required formControlName="username" />
                <mat-error *ngIf="editPaymentProviderForm.controls.username.hasError('required')">
                  Username is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="10%" fxLayout="column"></div>
            <div fxFlex="40%" fxLayout="column">
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput required formControlName="password" />
                <mat-error *ngIf="editPaymentProviderForm.controls.password.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
  
        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button type="button" mat-raised-button [routerLink]="['../']">Cancel</button>
          <button
            mat-raised-button
            color="primary"
            [disabled]="!editPaymentProviderForm.valid || editPaymentProviderForm.pristine"
          >
            Submit
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
  