<div class="container">
  <mat-card>
    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="50%">
        <mat-nav-list>
          <mat-list-item [routerLink]="['data-tables']">
            <mat-icon matListIcon>
              <fa-icon icon="table" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ 'labels.heading.Manage Data tables' | translate }}</h4>
            <p matLine>{{ 'labels.text.Add new extra fields to any entity in the form of data table' | translate }}</p>
          </mat-list-item>
          <mat-list-item [routerLink]="['field-configuration']">
            <mat-icon matListIcon>
              <fa-icon icon="table" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ 'labels.commons.Configure Data Fields' | translate }}</h4>
            <p matLine>{{ 'labels.commons.Configure new field to any module' | translate }}</p>
          </mat-list-item>
          <mat-list-item [routerLink]="['codes']">
            <mat-icon matListIcon>
              <fa-icon icon="list-ul" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ 'labels.heading.Manage Codes' | translate }}</h4>
            <p matLine>{{ 'labels.text.Codes are used to define drop down values' | translate }}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['roles-and-permissions']">
            <mat-icon matListIcon>
              <fa-icon icon="key" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ 'labels.heading.Manage Roles and Permissions' | translate }}</h4>
            <p matLine>{{ 'labels.commons.Define or modify roles and associated permissions' | translate }}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['configure-mc-tasks']">
            <mat-icon matListIcon>
              <fa-icon icon="sitemap" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ 'labels.heading.Configure Maker Checker Tasks' | translate }}</h4>
            <p matLine>{{ 'labels.text.Define or modify Maker Checker tasks' | translate }}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['hooks']">
            <mat-icon matListIcon>
              <fa-icon icon="anchor" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ 'labels.heading.Manage Hooks' | translate }}</h4>
            <p matLine>{{ 'labels.text.Define Hooks' | translate }}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['entity-to-entity-mapping']">
            <mat-icon matListIcon>
              <fa-icon icon="road" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ 'labels.heading.Entity to Entity Mapping' | translate }}</h4>
            <p matLine>{{ 'labels.text.Define or modify entity to entity mappings' | translate }}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['surveys']">
            <mat-icon matListIcon>
              <fa-icon icon="file-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ 'labels.heading.Manage Surveys' | translate }}</h4>
            <p matLine>{{ 'labels.text.Manage your Services' | translate }}</p>
          </mat-list-item>
        </mat-nav-list>
      </div>

      <div fxFlex="50%">
        <mat-nav-list>
          <mat-list-item [routerLink]="['reports']">
            <mat-icon matListIcon>
              <fa-icon icon="file-word" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ 'labels.heading.Manage Reports' | translate }}</h4>
            <p matLine>{{ 'labels.text.Add new report and classify reports' | translate }}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['scheduler-jobs']">
            <mat-icon matListIcon>
              <fa-icon icon="clock" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ 'labels.inputs.Scheduler Jobs' | translate }}</h4>
            <p matLine>{{ 'labels.commons.Schedule a job, modify or delete jobs' | translate }}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['configurations']">
            <mat-icon matListIcon>
              <fa-icon icon="cogs" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ 'labels.heading.Configurations' | translate }}</h4>
            <p matLine>{{ 'labels.text.Global configurations, Cache and Business Date' | translate }}</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['account-number-preferences']">
            <mat-icon matListIcon>
              <fa-icon icon="key" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ 'labels.heading.Account Number Preferences' | translate }}</h4>
            <p matLine>
              {{
                'labels.text.Preferences for generating account numbers for client, loan and savings accounts'
                  | translate
              }}
            </p>
          </mat-list-item>

          <mat-list-item [routerLink]="['external-services']">
            <mat-icon matListIcon>
              <fa-icon icon="cog" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ 'labels.heading.External Services' | translate }}</h4>
            <p matLine>{{ 'labels.text.External Services Configuration' | translate }}</p>
          </mat-list-item>

          <mat-list-item>
            <mat-icon matListIcon>
              <fa-icon icon="key" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>{{ 'labels.heading.Two-Factor Configuration' | translate }}</h4>
            <p matLine>{{ 'labels.text.Two-factor authentication configuration' | translate }}</p>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
  </mat-card>
</div>
